<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Stage BTS</title>
	</head>
	<body class="bg-gray-200 font-mono flex">
		<div class="container flex">
			<div class="w-72 bg-gray-900 text-white fixed h-full border-r-4 border-blue-600">
				<nav class="flex flex-col">
					<a id="onglet_accueil" href="index.php" class="{% block accueil_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center">
						<img src="../icons/home.png" alt="Accueil" class="w-6 h-6 mr-2">
						<span>Accueil</span>
					</a>
					<a id="onglet_entreprise" href="index.php?name=entreprise" class="{% block entreprise_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center">
						<img src="../icons/entreprise.png" alt="Entreprise" class="w-6 h-6 mr-2">
						<span>Entreprise</span>
					</a>
					<a id="onglet_stagiaire" href="index.php?name=stagiaire" class="{% block stagiaire_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center">
						<img src="../icons/stage.png" alt="Stagiaire" class="w-6 h-6 mr-2">
						<span>Stagiaire</span>
					</a>
					<a id="onglet_inscrire" href="index.php?name=inscription" class="{% block inscription_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center {% if connected.role == 'etudiant' %}hidden{% endif %}">
						<img src="../icons/inscrire.png" alt="Inscription" class="w-6 h-6 mr-2">
						<span>Inscription</span>
					</a>
					<a id="onglet_aide" href="index.php?name=aide" class="{% block aide_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center">
						<img src="../icons/aide.png" alt="Aide" class="w-6 h-6 mr-2">
						<span>Aide</span>
					</a>
					<a id="onglet_deconnexion" href="index.php?name=deconnexion" class="{% block deconnexion_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center">
						<img src="../icons/deconnexion.png" alt="Déconnexion" class="w-6 h-6 mr-2">
						<span>Déconnexion</span>
					</a>
					<a id="onglet_connexion" href="index.php?name=connexion" class="{% block connexion_active %} {% endblock %} p-4 text-lg hover:bg-gray-700 flex items-center {% if connected.connected %}hidden{% endif %}">
						<img src="../icons/deconnexion.png" alt="Connexion" class="w-6 h-6 mr-2 transform scale-x-[-1]">
						<span>Connexion</span>
					</a>
					{% if connected %}
						<a id="utilisateur" class="text-center overflow-hidden text-ellipsis whitespace-nowrap w-full hover:whitespace-normal">
							{{ connected.nom }}
							{{ connected.prenom }}
						</a>
					{% endif %}
				</nav>
			</div>
			<div id="contenu" class="ml-80 p-8 w-full"> {% block content %}{% endblock %}
				</div>
			</div>
		</body>
	</html>
