{% extends "base.twig" %}
{% block accueil_active %}actif
{% endblock %}
{% block cacher %}display: none;
{% endblock %}
{% block content %}
	<h1>Accueil</h1>

	<p>Bienvenue {{ session.prenom }} {{ session.nom }}.</p>
	<p>Vous êtes connecté en tant que {{ session.role }}.</p>
{% endblock %}
