{% extends "base.twig" %}
{% block aide_active %}actif
{% endblock %}
{% block cacher %}display: none;
{% endblock %}
{% block content %}

	<article>
		<h1>Aide</h1>
		Bienvenue sur la FAQ

		<h2>Gestion des Entreprises proposant un stage ou une alternance</h2>

		Comment rechercher une entreprise ?
		<p>
			Si vous voulez rechercher une entreprise, vous devez aller sur la page "Entreprise", pour cliquer sur le bouton "Rechercher une entreprise". Il vous est alors fourni trois critères. Utilisez-les afin de pouvoir trouver les entreprises qui correspondent à vos choix.
		</p>

		Comment ajouter une entreprise ?
		<p>
			Pour ajouter une entreprise, rendez-vous sur la page "Entreprise", où vous devez cliquer sur le bouton "Ajouter une entreprise". Vous devrez ensuite ajouter les informations concernant l’entreprise. Toutes les informations ne sont pas obligatoires, mais il est conseillé d’en fournir un maximum pour renseigner les futurs stagiaires sur les entreprises référencées.
		</p>

		Comment afficher ou enlever une information concernant l'entreprise ?
		<p>
			En allant sur la page "Entreprise", vous pouvez voir les entreprises déjà référencées. Vous pouvez alors remarquer que certaines informations concernant l'entreprise sont absentes. Vous pouvez cependant les afficher grâce à la liste déroulante : choisissez l'information que vous voulez afficher puis cliquez sur le bouton "Ajouter". Si vous voulez enlever une information, il vous suffit de cliquer sur le moins situé à l'entête de la colonne représentant l'information concerné.
		</p>

		N'y a-t-il pas une autre solution pour voir ces informations ?
		<p>
			Bien sûr, vous pouvez cliquer sur l’icône
			<img src="../icons/voir.png" alt="voir" width="1%">
			pour voir toutes les informations concernant l'entreprise que vous avez sélectionné.
		</p>

		Comment puis-je supprimer une entreprise ?
		<p>
			Rien de plus simple, il vous suffit de cliquer sur l'icône
			<img src="../icons/supprimer.png" alt="supprimer" width="1%">
			qui se situe sur la deuxième colonne "Opération".<br>
			<font color="red">Faites bien attention de ne pas vous tromper de ligne !</font>
		</p>

		Et si je veux modifier une information fausse ?
		<p>
			Cliquez sur l’icône
			<img src="../icons/modifier.png" alt="modifier" width="1%">,
						 puis changer le(s) information(s) que vous voulez. Vous pourrez par la même occasion renseigner une information manquante si vous en avez la possibilité.
		</p>

		<h2>Gestion des Etudiants (Stagiaire)</h2>

		Comment rechercher un stagiaire ?
		<p>
			Tout d'abord, dirigez-vous sur la page "Stagiaire". Cliquez ensuite sur le bouton "Rechercher un stagiaire existant". Vous aurez alors quatre listes déroulantes. Vous pourrez alors choisir, pour chaque champ, l'information voulue.
		</p>

		Comment inscrire un étudiant à un stage ?
		<p>
			Pour cela, vous devez vous rendre sur la page "Inscription". Ensuite, vous devrez remplir un formulaire contenant diverses informations concernant le stage de l’étudiant, comme par exemple l’entreprise ou encore le professeur qui s’occupera du stage de l’étudiant. Vous pouvez aussi le faire à partir de la page "Entreprise" : cliquez sur la poignée de main située sur la première colonne "Opération", et le formulaire d'inscription s'affichera avec le nom de l'entreprise pré-rentré.
		</p>

		Comment peut-on voir les informations des stagiaires ?
		<p>
			Sur la liste qui s'affiche sur la page "Stagiaire", ou en cliquant sur l’icône
			<img src="../icons/voir.png" alt="voir" width="1%">.
		</p>

		Comment peut-on supprimer un stagiaire ?
		<p>
			Comme pour une entreprise : cliquez sur l'icône
			<img src="../icons/supprimer.png" alt="supprimer" width="1%">
			présente sur la page "Stagiaire".
		</p>

		Et pour modifier le contenu d'un champ, pareil que pour les entreprises ?
		<p>
			Tout juste !
		</p>


	</article>

{% endblock %}
