{% extends "base.twig" %}
{% block entreprise_active %}actif
{% endblock %}
{% block content %}

	<h1>Ajouter une entreprise</h1>
	<form method="post">
		<table class="list">
			<th colspan="2">
				Information
			</th>
			<tr>
				<td>
					Nom de l'entreprise<span class="important">*</span>
				</td>
				<td>
					<textarea name="entreprise" id="entreprise" required></textarea>
				</td>
			</tr>
			<tr>
				<td>
					Nom du contact
				</td>
				<td>
					<textarea name="nom_contact" id="nom_contact"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					Nom du responsable
				</td>
				<td>
					<textarea name="nom_responsable" id ="nom_responsable"></textarea>
				</td>
			</tr>
		</table>

		<table class="list">
			<th colspan="2">
				Contact
			</th>
			<tr>
				<td>Rue<span class="important">*</span>:</td>
				<td>
					<textarea name="rue" id="rue" required></textarea>
				</td>
			</tr>
			<tr>
				<td>Code postal<span class="important">*</span>:</td>
				<td>
					<textarea name="code_postal" id="code_postal" required></textarea>
				</td>
			</tr>
			<tr>
				<td>Ville<span class="important">*</span>:</td>
				<td>
					<textarea name="ville" id="ville" required></textarea>
				</td>
			</tr>
			<tr>
				<td>Téléphone<span class="important">*</span>:</td>
				<td>
					<textarea name="telephone" id="telephone" required></textarea>
				</td>
			</tr>
			<tr>
				<td>Fixe:</td>
				<td>
					<textarea name="fixe" id="fixe"></textarea>
				</td>
			</tr>
			<tr>
				<td>Mail<span class="important">*</span>:</td>
				<td>
					<textarea name="mail" id="mail" required></textarea>
				</td>
			</tr>
		</table>

		<table class="list">
			<th colspan="2">
				Divers
			</th>
			<tr>
				<td>Observation:</td>
				<td>
					<textarea name="observation" id="observation"></textarea>
				</td>
			</tr>
			<tr>
				<td>Site:</td>
				<td>
					<textarea name="site" id="site"></textarea>
				</td>
			</tr>
			<tr>
				<td>Niveau<span class="important">*</span>:</td>
				<td>
					<textarea name="niveau" id="niveau" required></textarea>
				</td>
			</tr>
			<tr>
				<td>Spécialité:</td>
				<td>
					<textarea name="specialite" id="specialite"></textarea>
				</td>
			</tr>
		</table>


		<p class="message">
			Les champs comportant le symbole
			<span class="important">*</span>
			sont obligatoires
		</p>
		<input type="submit" value="S'inscrire">
	</form>

{% endblock %}
