{% extends "base.twig" %}
{% block connexion_active %}actif
{% endblock %}
{% block content %}
	<div class="message">
		<h1>Gestion des stages</h1>
		Vous n'êtes pas connecté. Identifiez-vous pour poursuivre la navigation.
	</div>

	<br>

	<div class="message">
		<form method="post" action="index.php">
			<div class="form-group">
				Login :
				<input type="text" class="form-control" id="login" name="login" required>
			</div>
			<div class="form-group">
				Mot de passe :
				<input type="password" class="form-control" id="mdp" name="mdp" required>
			</div>
			<div class="form-group form-check">
				Vous êtes :
				<div class="center">
					<label for="etudiant">Etudiant<input type="radio" id="etudiant" name="role" value="etudiant" required></label>
				</div>
				<div class="center">
					<label for="professeur">Professeur<input type="radio" id="professeur" name="role" value="professeur" required></label>
				</div>
			</div>

			<input type="submit" value="Connexion">
		</form>
	</div>
{% endblock %}
