{% extends "base.twig" %}
{% block content %}
	<body>

		<nav>
			<a id="onglet_accueil" href="index.php">Accueil</a>
			<a id="onglet_entreprise" href="ndex.php">Entreprise</a>
			<a id="onglet_stagiaire" href="index.php">Stagiaire</a>
			<a id="onglet_inscrire" href="index.php">Inscription</a>
			<a id="onglet_aide" href="index.php">Aide</a>
			<a id="onglet_deconnexion" href="index.php">Déconnexion</a>
		</nav>

		<h1>Stage BTS</h1>
	</body>
{% endblock %}
