{% extends "base.twig" %}
{% block content %}
	<body>

		<nav>
			<a id="onglet_accueil" href="index.php">Accueil</a>
			<a id="onglet_entreprise" href="index.php?name=entreprise">Entreprise</a>
			<a id="onglet_stagiaire" class="actif" href="index.php?name=stagiaire">Stagiaire</a>
			<a id="onglet_inscrire" href="index.php?name=inscription">Inscription</a>
			<a id="onglet_aide" href="index.php?name=aide">Aide</a>
			<a id="onglet_deconnexion" href="index.php?name=deconnexion">Déconnexion</a>
		</nav>

		<h1>Stagiaire</h1>

	</body>
{% endblock %}
