<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/general.css">
		<link rel="stylesheet" href="../css/bouton.css">
		<link rel="stylesheet" href="../css/formulaire.css">
		<link rel="stylesheet" href="../css/tableau.css">
		<title>Entreprise</title>
	</head>
	<body>

		<nav>
			<a id="onglet_accueil" href="accueil.php">Accueil</a>
			<a id="onglet_entreprise" class="actif" href="entreprise.php">Entreprise</a>
			<a id="onglet_stagiaire" href="stagiaire.php">Stagiaire</a>
			<a id="onglet_inscrire" href="inscription.php">Inscription</a>
			<a id="onglet_aide" href="aide.php">Aide</a>
			<a id="onglet_deconnexion" href="deconnexion.php">Déconnexion</a>
		</nav>

		<h1>Entreprise</h1>
	</body>
</html>
