<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<title>Stage BTS</title>
	</head>

    <nav>
        <ul>
            <li><a href="accueil.php">Accueil</a></li>
            <li><a href="stagiaire.php">Stagiaire</a></li>
            <li><a href="inscription.php">Inscription</a></li>
            <li><a href="aide.php">Aide</a></li>
            <li><a href="deconnexion.php">Déconnexion</a></li>
        </ul>    
    </nav>

	<body>
		<h1>Stage BTS</h1>
	</body>
</html>
