<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<title>Stage BTS</title>
	</head>

    <nav>
        <a href="controller/accueil.php">Accueil</a>
        <a href="controller/entreprise.php">Entreprise</a>
        <a href="controller/stagiaire.php">Stagiaire</a>
        <a href="controller/inscription.php">Inscription</a>
        <a href="controller/aide.php">Aide</a>
        <a href="controller/deconnexion.php">Déconnexion</a> 
    </nav>

	<body>
		<h1>Stage BTS</h1>
	</body>
</html>
