<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/general.css">
		<link rel="stylesheet" href="css/bouton.css">
		<link rel="stylesheet" href="css/formulaire.css">
		<link rel="stylesheet" href="css/tableau.css">
		<title>Stage BTS</title>
	</head>

	<body>

		<nav>
			<a id="onglet_accueil" href="controller/accueil.php">Accueil</a>
			<a id="onglet_entreprise" href="controller/entreprise.php">Entreprise</a>
			<a id="onglet_stagiaire" href="controller/stagiaire.php">Stagiaire</a>
			<a id="onglet_inscrire" href="controller/inscription.php">Inscription</a>
			<a id="onglet_aide" href="controller/aide.php">Aide</a>
			<a id="onglet_deconnexion" href="controller/deconnexion.php">Déconnexion</a>
		</nav>

		<h1>Stage BTS</h1>
	</body>
</html>
